<div class="row mt-5 justify-content-center">
  <div class="col-lg-6 col-md-10 col-12 text-center">
    <form (ngSubmit)="submit()">
      <div class="mb-3">
        <select class="form-select" [(ngModel)]="review.restaurant" name="restaurant">
          @for(restaurant of restaurants; track restaurant.id) {
            <option [ngValue]="restaurant">{{restaurant.name}}</option>
          }
        </select>
      </div>

      <div class="mb-3 form-floating">
        <input type="number" min="1" max="10" [(ngModel)]="review.rating" name="rating" class="form-control" id="rating" placeholder="Your rating">
        <label for="rating">Your rating</label>
      </div>

      <div class="mb-3 form-floating">
        <input type="text" [(ngModel)]="review.title" name="title" class="form-control" id="title" placeholder="Title">
        <label for="title">Title</label>
      </div>

      <div class="form-floating">
        <textarea [(ngModel)]="review.content" name="content" class="form-control" id="content" placeholder="How was your experience?" style="height: 100px">{{review.content}}</textarea>
        <label for="content">How was your experience?</label>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit review</button>
    </form>
  </div>
</div>
