<div class="container-fluid">
  <div class="row m-5">
    <div class="col-12">
      <div class="py-5 text-center">
        <h1 class="card-title pt-3 mb-5 font-bold">Welcome to Restograde</h1>
        <h5 class="px-5 pb-4">
          Restograde is the perfect place to get real-world reviews for restaurants all over the world. Find out everything about a
            restaurant before heading there. In turn, write your own reviews to help out others. Restograde takes security very seriously. We have deployed military-grade protection to ensure all data is authentic and
            safe.
        </h5>
      </div>
    </div>
  </div>
</div>