<mdb-navbar SideClass="navbar navbar-expand navbar-light" [containerInside]="false">
  <mdb-navbar-brand>&nbsp;</mdb-navbar-brand>

  <links>
    <div class="row">
      <button class="navbar-nav" routerLink="/restaurants" mdbBtn type="button" size="sm" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>
        View restaurants
      </button>
      <button class="navbar-nav" routerLink="/reviews/new" mdbBtn type="button" size="sm" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>
        Add review
      </button>
    </div>
  </links>
</mdb-navbar>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>



